rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdministrator() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdministrator;
    }

    function isNotAffectingForbiddenKeys() {
      return !request.resource.data.diff(resource.data).affectedKeys().hasAny([
        // User
        'isAdministrator',
      ]);
    }

    match /users/{userId} {
      allow get: if isAdministrator() || request.auth.uid == userId;
      allow list: if isAdministrator() || request.query.limit <= 1; // For Authentication
      allow create: if request.auth.uid == userId && !request.resource.data.isAdministrator;
      allow update: if request.auth.uid == userId && isNotAffectingForbiddenKeys();
    }
  }
}
